  
* {
    box-sizing: border-box;
    font-family: Century Gothic;
    font-weight: bold;
  }
  
  body {
      font-size: 1.1rem;
      line-height: 1.6em;
      margin: 0;
  }
  
  
  p {
      margin: 1.6em;
  }
  
  .container{
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
  }
  
 .buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90%;
    top: 25%;
    transform: translate(-100%,-30%);
    background: #D8A8CB;
    padding: 10px;
    height: 60px;
    border-radius: 10px;
    position: fixed;
    
}

input.scr{
    padding: 9px 10px 9px 32px;
}

.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 19px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
   
    
}

.boton {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    
}





@media screen and (min-width:480px) {
    .buscar:hover > .buscar_texto{
        width: 190px;
    }
    
}

@media screen and (min-width:768px) {
    .buscar:hover > .buscar_texto{
        width: 300px;
    }
    
}

@media screen and (min-width:1024px) {
    .buscar:hover > .buscar_texto{
        width: 500px;
    }
    
}

  .header {
      text-align: center;
    background-color: #524A4E;
    color: #ffffff;
    padding: 40px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgba(233, 148, 202, 0.364), rgb(255, 255, 255)), url(img/panoramica-de-bucaramanga.jpg);
    background-size: cover;
    background-position: 100%;
  }
  
  .header a {
      color: black;
      text-decoration: none;
      padding: 2rem 0;
  }
  
  .logonav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  
  .navegacion ul{
      margin: 0;
      padding: 0;
      list-style: none;
      
  }
  
  .navegacion ul li {
      display: inline-block;
      
  }
  
  .navegacion ul li a{
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.4s linear;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      
  }
  
  .navegacion ul li a:hover{
      background: rgba(233, 148, 202, 0.83)
      
  }
  
  .logo {
      letter-spacing: 5px;
      font-size: 1.3em;
      font-size: 20px;
      font-weight: bold;
  }
  
  .menu-icon {
      display: none;
      color: black;
      font-weight: bold;
  }
  
  @media only screen and (max-width:767px) {
      .menu-icon{
          display: block;
          cursor: pointer;
          padding: 0.5rem 1rem;
      }
      .navegacion ul {
          display: none;
      }
      .navegacion ul.show {
          display: block;
      }
  
  }
  
  
  table{
      background-color: #a2537a41;
      text-align: center;
      border-collapse: collapse;
      width: 100%;
  }
  
  th td{
      border: solid 1px palevioletred;
      padding: 20px;
  }

  thead{
      background-color: rosybrown;
      border-bottom: solid 5px #765a6e;
      color: white;
  }

  tr:nth-child(even){
      background-color: rgba(167, 101, 159, 0.254);
  }

  tr:hover td{
      background-color: rgba(95, 69, 90, 0.467);
      color: white;
  }



  
  .main { 
      padding: 10rem;
  }
  
  img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      
  }
  


  .search{
      width: 90%;
      max-width: 1000px;
      margin: auto;
      background: wheat;
      padding: 0 10px;
      padding-top: 5px;
      display: none;
      height: 100vh;
  }

  
  footer {
      background-color: #524A4E;
      color: blanchedalmond;
      text-align: center;
      padding: 1rem 0;
      margin-top: 6rem;
  }
  
  
  